<%= @chore_list.date.strftime("%A, %B %d, %Y") %>

<h2>Chores!</h2>

<% @chores_by_person.keys.each do |assigned_to| %>
    <p><%= assigned_to %>
        <ul>
        <% @chores_by_person[assigned_to].each do |chore| %>
            <li><%= chore.name %></li>
        <% end %>
        </ul>
    </p>
<% end %>

<h2>Add a chore:</h2>
<%= form_with model: [ @chore_list, @chore_list.chores.build ] do |form| %>
    <p><%= form.label :name %><%= form.text_field :name %></p>
    <p><%= form.label :assigned_to %><%= form.text_field :assigned_to %></p>
    <p><%= form.submit %></p>
<% end %>

<%= link_to "Home", root_path %>