<h2><%= @chore_list.date.strftime("%A, %B %d, %Y") %></h2>

<h2>Chores!</h2>

<% @chores_by_person.keys.each do |assigned_to| %>
    <%= render 'choreblock', assigned_to: assigned_to, chores_by_person: @chores_by_person %>
<% end %>

<% if show_add_chore_widget? %>
    <div id="addChore">
        <h2>Add a chore:</h2>
        <%= render 'chores/choreform', chore_list: @chore_list, default_assigned_to: @default_assigned_to %>

    </div>

    <div id="carryOver">
        <%= form_with url: carryover_chore_list_path(@chore_list), method: 'post' do |form| %>
            <p><%= form.submit "Carry over to tomorrow" %></p>
        <% end %>
    </div>
<% end %>

<div class="footer">
    <%= link_to "Home", root_path %>
</div>
